<% if logged_as_student? %>
<div class="bg_message">
    
    <div class="student_message_title">
        <h1>Wiadomości</h1>
    </div>
    <%= link_to student_path(session[:user_id]) do%>
      <div class="back_msg tooltip">
        <span>Kliknij aby przejść do mapy świata</span>
      </div>
    <% end %>
    <div class="student_new_message">
      <%= link_to new_message_path(session[:user_id]) do%>
          <span>zadaj pytanie wykładowcy</span>
      <%end%>
    </div>
<div class="student_message_content">
  <table>
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Temat</th>
        </tr>
      </thead>
    <% i=0%>
    <tbody>

      <% @messages.each do |message| %>
      <tr>
          <td><%= i=1+i %></td>
          <%if message.read%>
          <td><%= message.subject %></td>
          <%else%>
          <td><strong><%=message.subject%></strong></td>
          <%end%>
          <td class="table_button"><%= link_to 'Otwórz', message_path(:id => message.id) %></td>
          <td class="table_button"><%= link_to 'Usuń', message, method: :delete, data: { confirm: 'Czy napewno chcesz usunąć wiadomość?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%else%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <center><h1>Wiadomości</h1></center>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Temat</th>
          <th colspan="2"></th>
        </tr>
      </thead>
     <% i=0%>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= i=1+i %></td>
            <%if message.read%>
              <td><%= message.subject %></td>
            <%else%>
              <td><strong><%=message.subject%></strong></td>
            <%end%>
            <td><%= link_to 'Otworz', message_path(:id => message.id), :class =>"btn btn-primary" %></td>
            <td><%= link_to 'Usuń', message, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć wiadomość?' }, :class =>"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% end  %>


