<%if logged_as_student?%>
<div class="bg_sidequest">
    <div class="student_message_title">
        <h1>Wyzwania</h1>
    </div>
    <%= link_to sidequests_path do%>
      <div class="backto_msg tooltip">
        <span>Kliknij aby wrócić do wyzwań</span>
      </div>
    <% end %>
    <div class="student_sidequest_show">
        <h3>Treść wyzwania</h3>
        <p><%= @sidequest.content%></p>
        <%= form_for @sqanswer, url: sqanswer_update_path, :method => :put do |f| %>
          <% if @sqanswer.errors.any? %> %>
            <div id="error_explanation">
              <h2><%= pluralize(@sqanswer.id.errors.count, "error") %> prohibited this sqanswer from being saved:</h2>
        
              <ul>
              <% @sqanswer.id.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <h3>Odpowiedź</h3>
          <%= f.text_area :solution%>
          <%= f.hidden_field :id, :value => @sqanswer.id %>
          
        <div class="btn_send">
              <%= f.submit "Wyślij"%>
        </div>
        <%end%>
        <%end%>
    </div>
</div>
<%if logged_as_teacher?%>
    <div class="row">
        <div class="col-lg-12">
            <center><h1>Wyzwanie</h1></center>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <h3>Treść</h3>
            <p><%=@sidequest.content%></p>
        </div>
        <div class="col-lg-4">
            <center><h3>Odpowiedzi studentów</h3></center>
            <table class="table table-striped">
                <thead>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Czas w sekundach</th>
                    <th></th>
                </thead>
                <tbody>
                    <% @sqanswers.each do |sqanswer| %>
                    <% student=Student.find(sqanswer.student_id)%>
                            <tr>
                                <td>
                                    <%=student.name%>
                                </td>
                                <td>
                                    <%=student.lastname%>
                                </td>
                                <td>
                                    <%=sqanswer.time%>
                                </td>
                                <td>
                                    <%=link_to 'Pokaż', sqanswer, :class =>"btn btn-primary" %>
                                </td>
                            </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
<%end%>