<script>
$(document).ready(function() {
    var level = <%=@progr.lvl%>;
    if (level<2){
        $('#lesson2').hide();
    }
    if (level<3){
        $('#lesson3').hide();
    }
    if (level<4){
        $('#lesson4').hide();
    }
    if (level<5){
        $('#lesson5').hide();
    }
    if (level<6){
       $('#lesson6').hide();
    }
});
</script>
<%time = Time.new.in_time_zone("Warsaw").strftime("%Y-%m-%d %H:%M:%S") %>
<div class="student_map">
    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id , classes_number: 1).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 1).end.to_time.to_i %>
        <div id="lesson1" class="student_lesson1">
            <div class="mark_lesson1">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <% end %>
            </div>
        </div>
    <%else%>
        <div id="lesson1" class="student_lesson1">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:1).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson1 okmark">
                </div>
            <%end%>
        </div>
    <%end%>
    
    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id, classes_number: 2).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 2).end.to_time.to_i %>
        <div id="lesson2" class="student_lesson2">
            <div class="mark_lesson2">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <% end %>
            </div>
        </div>
    <%else%>
        <div id="lesson2" class="student_lesson2">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:2).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson2 okmark">
                </div>
            <%end%>
        </div>
    <%end%>
    
    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id, classes_number: 3).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 3).end.to_time.to_i %>  
        <div id="lesson3" class="student_lesson3">
            <div class="mark_lesson3">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <% end %>
            </div>
        </div>
    <%else%>
        <div id="lesson3" class="student_lesson3">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:3).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson3 okmark">
                </div>
            <% end %>
        </div>
    <% end %>
    
    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id, classes_number: 4).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 4).end.to_time.to_i %>
        <div id="lesson4" class="student_lesson4">
            <div class="mark_lesson4">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <% end %>
            </div>
        </div>
    <%else%>
        <div id="lesson4" class="student_lesson4">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:4).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson4_ok okmark">
                </div>
            <% end %>
        </div>
    <%end%>
    
    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id, classes_number: 5).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 5).end.to_time.to_i %>
        <div id="lesson5" class="student_lesson5">
            <div class="mark_lesson5">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <%end%>
            </div>
        </div>
    <%else%>
        <div id="lesson5" class="student_lesson5">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:5).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson5 okmark">
                </div>
            <% end %>
        </div>
    <%end%>

    <%if time.to_time.to_i>Classescalendar.find_by(group_id: @student.group_id, classes_number: 6).start.to_time.to_i && time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number: 6).end.to_time.to_i %>
        <div id="lesson6" class="student_lesson6">
            <div class="mark_lesson6">
                <%=link_to lesson_path(:level => @progr.lvl), method: :post, :class => "xmark" do%>
                    <img src="/assets/student/xmark.png">
                <%end%>
            </div>
        </div>
    <%else%>
        <div id="lesson6" class="student_lesson6">
            <%if time.to_time.to_i<Classescalendar.find_by(group_id: @student.group_id, classes_number:6).start.to_time.to_i%>
            <%else%>
                <div>
                    <img src="/assets/student/okmark.png" class="mark_lesson6 okmark">
                </div>
            <% end %>
        </div>
    <%end%>

