
<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Imię" %><br>
    <%= f.text_field :name, :class =>"form-control", :placeholder =>"Imię" %>
  </div>
  <div class="form-group">
    <%= f.label :lastname, "Nazwisko" %><br>
    <%= f.text_field :lastname, :class =>"form-control", :placeholder =>"Nazwisko" %>
  </div>
  <div class="form-group">
    <%= f.label :login ,"Login"%><br>
    <%= f.text_field :login, :class =>"form-control", :placeholder =>"Login" %>
  </div>
  <div class="form-group">
    <%= f.label :password_digest, "Hasło" %> <br>
    <%= f.password_field :password, :class =>"form-control", :placeholder =>"Hasło" %>
  </div>
  <div class="form-group">
  <%= f.label :password_confirmation, "Potwierdź hasło"%> <br>
  <%= f.password_field :password_confirmation, :class =>"form-control", :placeholder =>"Potwierdź hasło" %>
  </div>
  <div class="form-group">
    <%= f.label :email,"E-mail"%><br>
    <%= f.text_field :email, :class =>"form-control", :placeholder =>"e-mail" %>
  </div>
  <div class="form-group">
    <center><%= f.submit "Zmień", :class =>"btn btn-primary btn-lg" %></center>
  </div>
<% end %>