<%= form_for @exercise, url: {action: "update"} ,method: :patch do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center><h1>Edycja zadania </h1></center>
  <div class="form-group">
    <%= f.label :content , "Treść zadania"%><br>
    <%= f.text_area :content, :class =>"form-control", :rows =>"5",:placeholder =>"Treść zadania"  %>
  </div>
  <div class="form-group">
    <%= f.label :hint, "Podpowiedź" %><br>
    <%= f.text_area :hint, :class =>"form-control", :rows =>"3",:placeholder =>"Treść podpowiedzi" %>
  </div>
  <div class="form-group">
    <%= f.label :reward, "Nagroda"%><br>
    <%= f.number_field :reward , :class =>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :level, "Lekcja" %><br>
    <%= f.number_field :level , :class =>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :number, "Numer zadania" %><br>
    <%= f.number_field :number , :class =>"form-control"%>
  </div>
  <div class="form-group" style ="text-align:center;">
    <%= f.submit "Akceptuj", :class =>"btn btn-primary btn-lg"%>
  </div>
<% end %>