<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    function showhide(a)
     {
         var id = "hint" + a
        $("#"+id+"").toggle();
     }
</script>
<div class="student_map">
    <div class="back_button tooltip">
        <%= link_to "", student_path(session[:user_id]) %>
        <span>Kliknij aby przejść do mapy świata</span>
    </div>
    <div class="student_lesson_title">
        <h1>Lekcja <%=@level %></h1>
    </div>
    <div class="lesson_pustak"></div>
    <%for i in 1..5 %>
        <% story = Story.find_by(level: @level, number: i)%>
        <%= link_to "#zad#{@level}_#{i}" do%>
        <div class="lesson_zad">
            <%= image_tag("/assets/lesson/zad#{@level}_#{i}.png")%>
            <div class="lesson_title">
                <span style="font-size: 1.2em;">Zadanie <%=i%></span>
                <span style="font-size: 1.8em;"><%= story.title %></span>
            </div>
        </div>
        <%end%>
    <%end%>
</div>


<%for i in 1..5 %>
<!-- MODAl-->
    <%= content_tag(:div, :id =>"zad#{@level}_#{i}", :class =>"modal_dialog") do %>
        <div class="modal_content">
            <% zadanie=Exercise.find_by(id: Drawnexercise.find_by(student_id: session[:user_id], level: params[:level], number: i).exercise_id)%>
            <% story = Story.find_by(level: @level, number: i)%>
            <div class="modal_header">
                <div class="modal_title">
                    <h2>Zadanie <%= i %></h2>
                    <h1><%=story.title%></h1>
                </div>
                <div class="modal_close">
                    <%= link_to "#close" do%>
                    <% end %>
                </div>
            </div>
            
            <div class="modal_story">
                <p><%= story.content%></p>
            </div>
            <div class="modal_story">
                <p><%= zadanie.content %></p>
            </div>
            
            <%@zad = Answer.find_by(student_id: @student.id, exercise_id: zadanie.id)%>
            <div class="hint">
                <button id='button' onclick="showhide(<%=i%>)" class="modal_button button_hint">
                    <img src="/assets/lesson/drozd.png">
                    <span>Podpowiedź</span></button>
                <%= content_tag(:div, :id =>"hint#{i}", :class => "hint_content") do %>
                    <%= zadanie.hint %>
                <% end%>
            </div>
            <%= form_for @zad, url: {controller: "students", action: "solution"} do |f| %>
                <div class="modal_answer">
                    <%= f.hidden_field :reward, :value => zadanie.reward %>
                    <%= f.hidden_field :level, :value => @level %>
                    <%= f.hidden_field :number, :value => i %>
                    <h5 class="modal_tag">Odpowiedź</h5>
                    <%= f.text_area :solution, size: "100x5", :class => "modal_text_area" %>
                    <h4>Nagroda:</h4>
                    <h5> <%= pkt=zadanie.reward %> pkt exp<br>
                        <%= pkt=zadanie.reward %> pkt rankingowych</h5>
                    <%= f.submit "Wyślij", :class => "modal_button button_send" %>
                </div>
            <% end %>
        </div>
    <br></br>
    <%end%>
<%end%>
