<p>
  <strong>Number:</strong>
  <%= @exercise.number %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @exercise.reward %>
</p>

<p>
  <strong>Content:</strong>
  <%= @exercise.content %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @exercise.hint %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
