<!DOCTYPE html>
<html>
  <head>
    <title>inz</title>
    <!--DO WYLOGOWANIA-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!---->
    <%= stylesheet_link_tag  "students", "login" %>
    <%= javascript_include_tag "application" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
  </head>
  
  <body>
    <% if logged_as_student? %>
      <div class="bg_student">
        <!--<% flash.each do |message_type, message| %><%end%>-->
        <%= render 'students/panel' %>
        <%= yield %>
      </div>
    <%end%>
  </body>
</html>